### Industrial Organization - Assignment 2
##### Luciano Fabio Busatto Venturim
##### 1st Quarter - 2022
##### EPGE/FGV

In [212]:
import numpy as np
import pandas as pd
import linearmodels as lm
from statsmodels.api import add_constant
from scipy.optimize import minimize
from numba import njit

### Part 1 - Setup

In [2]:
data = pd.read_csv('../data/io_assignment2_data.csv')

Creating the variable $c_{nt}$:

In [3]:
data['replacement'] = data['age'].transform(lambda x: 1 if x==0 else 0)
data['replacement'] = data.groupby('Market')['replacement'].shift(-1)
data.dropna(inplace=True) #for the last periods, we cannot know if the replacements were made.
data['replacement'] = data['replacement'].astype('int')

In [4]:
data.head(10)

   Market  MarketSize   t  age  replacement
0       1         1.2   1    0            0
1       1         1.2   2    1            0
2       1         1.2   3    2            0
3       1         1.2   4    3            1
4       1         1.2   5    0            0
5       1         1.2   6    1            0
6       1         1.2   7    2            1
7       1         1.2   8    0            0
8       1         1.2   9    1            0
9       1         1.2  10    2            0

Now, we run a linear probability model.

In [5]:
lpm = lm.IV2SLS(data['replacement'],add_constant(data[['MarketSize','age']]),None,None).fit()

E:\Anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [6]:
print(lpm.summary)

                            OLS Estimation Summary
==============================================================================
Dep. Variable:            replacement   R-squared:                      0.1748
Estimator:                        OLS   Adj. R-squared:                 0.1739
No. Observations:                1900   F-statistic:                    353.63
Date:                Mon, Mar 14 2022   P-value (F-stat)                0.0000
Time:                        17:15:01   Distribution:                  chi2(2)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const         -0.0941     0.0225    -4.1785     0.0000     -0.1382     -0.0500
MarketSize     0.1479     0.0228     6.4751     0.0000      0.1032      0.1927
age            0.0860     0.0047     18.332     0.0000      0.0768      0.0951
==============================================================================

### Part 2 - Estimation

In [27]:
ms = np.array(sorted(list(set(data['MarketSize']))))
n_ms = len(ms)
ages = np.array(sorted(list(set(data['age']))))
n_ages = len(ages)

In [69]:
ms_repeat = np.tile(ms,(n_ages,1)).T
ages_repeat = np.tile(ages,(n_ms,1))

In [174]:
data['ms_ind'] = data['MarketSize'].transform(lambda x: np.where(ms == x)[0][0])
data['ages_ind'] = data['age'].transform(lambda x: np.where(ages == x)[0][0])

In [177]:
data.head()

   Market  MarketSize  t  age  replacement  ms_ind  ages_ind
0       1         1.2  1    0            0      10         0
1       1         1.2  2    1            0      10         1
2       1         1.2  3    2            0      10         2
3       1         1.2  4    3            1      10         3
4       1         1.2  5    0            0      10         0

In [227]:
def loglikelihood(par, data, iter_max = 5000, tol = 10e-5):
    
    '''This function'''
    
    vbig0 = np.zeros((n_ms,n_ages))
    
    error = 10
    i = 0
    
    while error > tol:
        vbig0_shift = np.roll(vbig0, shift = -1, axis = 1) 
        vbig0_shift[:,-1] = vbig0[:,-1]
        vbig1 = np.log(np.exp(par[0]*ms_repeat*(1-par[1]*ages_repeat)+0.9*vbig0_shift) + 
                   np.exp(par[2] + 0.9*np.tile(vbig0[:,0],(n_ages,1)).T)) + np.euler_gamma 
        error = np.max(np.absolute(vbig1-vbig0))
        vbig0 = vbig1
        
        if i > iter_max:
            return(None)
        i += 1
        
    v0 = par[0]*ms_repeat*(1-par[1]*ages_repeat)+0.9*vbig0_shift
    v1 = par[2] + 0.9*np.tile(vbig0[:,0],(n_ages,1)).T
    
    ccp0 = np.exp(v0)/(np.exp(v0)+np.exp(v1))
    ccp1 = 1 - ccp0
    
    ll = np.log(data['replacement']*ccp1[data['ms_ind'],data['ages_ind']] + (1-data['replacement'])*ccp0[data['ms_ind'],data['ages_ind']])
    
    return(-np.sum(ll))

In [228]:
loglikelihood(np.array([1,0.1,1]),data)

1574.459651305729

In [229]:
opt_par = minimize(loglikelihood, x0 = np.array([1,0.1,1]), args = (data), method = 'BFGS')

E:\Anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
E:\Anaconda3\lib\site-packages\scipy\optimize\_numdiff.py:557: RuntimeWarning: invalid value encountered in subtract
  df = fun(x) - f0
E:\Anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
E:\Anaconda3\lib\site-packages\scipy\optimize\_numdiff.py:557: RuntimeWarning: invalid value encountered in subtract
  df = fun(x) - f0
E:\Anaconda3\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [230]:
opt_par

      fun: 825.7435614147627
 hess_inv: array([[ 0.09700156, -0.01464492,  0.05063477],
       [-0.01464492,  0.00253642, -0.0103686 ],
       [ 0.05063477, -0.0103686 ,  0.06105781]])
      jac: array([0.00000000e+00, 7.62939453e-06, 7.62939453e-06])
  message: 'Optimization terminated successfully.'
     nfev: 122
      nit: 23
     njev: 29
   status: 0
  success: True
        x: array([ 1.45546094,  0.26154845, -2.58972656])